XMLStudy/src/bookList.dtd

<?xml version="1.0" encoding="utf-8"?>

<!-- 엘리먼트 선언 -->
<!ELEMENT booklist (book*)>
	<!ELEMENT book (title, author+, publisher, price)>
		<!ELEMENT title (#PCDATA)>
		<!ELEMENT author (#PCDATA)>
    <!ELEMENT publisher (#PCDATA)>
		<!ELEMENT price (#PCDATA)>

<!-- 속성 선언 -->
<!ATTLIST book 
		id ID #IMPLIED
		kind CDATA #REQUIRED>

